In [1]:
import pandas as pd
import numpy as np

In [10]:
dates = pd.date_range('2013-01-02', periods=6)
df = pd.DataFrame(np.arange(24, dtype=np.float).reshape(6,4), index=dates,columns=['A', 'B', 'C', 'D'])
print(df)
print(df['A'],'\n',df.A)

               A     B     C     D
2013-01-02   0.0   1.0   2.0   3.0
2013-01-03   4.0   5.0   6.0   7.0
2013-01-04   8.0   9.0  10.0  11.0
2013-01-05  12.0  13.0  14.0  15.0
2013-01-06  16.0  17.0  18.0  19.0
2013-01-07  20.0  21.0  22.0  23.0
2013-01-02     0.0
2013-01-03     4.0
2013-01-04     8.0
2013-01-05    12.0
2013-01-06    16.0
2013-01-07    20.0
Freq: D, Name: A, dtype: float64
 2013-01-02     0.0
2013-01-03     4.0
2013-01-04     8.0
2013-01-05    12.0
2013-01-06    16.0
2013-01-07    20.0
Freq: D, Name: A, dtype: float64

In [11]:
print(df.loc['2013-01-02'])

A    0.0
B    1.0
C    2.0
D    3.0
Name: 2013-01-02 00:00:00, dtype: float64

In [12]:
print(df.loc[:,['A', 'B']])

               A     B
2013-01-02   0.0   1.0
2013-01-03   4.0   5.0
2013-01-04   8.0   9.0
2013-01-05  12.0  13.0
2013-01-06  16.0  17.0
2013-01-07  20.0  21.0

In [13]:
df.loc['2013-01-02', ['A', 'B']]

A    0.0
B    1.0
Name: 2013-01-02 00:00:00, dtype: float64

In [15]:
df.iloc[[1,3], 1:3]

               B     C
2013-01-03   5.0   6.0
2013-01-05  13.0  14.0

In [16]:
df.iloc[1:3, 1:3]

              B     C
2013-01-03  5.0   6.0
2013-01-04  9.0  10.0

In [17]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [18]:
df.ix[:3, ['A', 'C']]

/Users/CHJ/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              A     C
2013-01-02  0.0   2.0
2013-01-03  4.0   6.0
2013-01-04  8.0  10.0

In [19]:
df[df.A>8]

               A     B     C     D
2013-01-05  12.0  13.0  14.0  15.0
2013-01-06  16.0  17.0  18.0  19.0
2013-01-07  20.0  21.0  22.0  23.0