In [1]:
import pandas as pd
import numpy as np

In [5]:
dates = pd.date_range('2018-01-01', periods=6)
df = pd.DataFrame(np.arange(24, dtype=np.int).reshape((6,4)), index=dates, columns=['A', 'B', 'C', 'D'])
df.iloc[0,1] = np.nan
df.iloc[1,2] = np.nan
df
# print(type[df.iloc[0,2]])

             A     B     C   D
2018-01-01   0   NaN   2.0   3
2018-01-02   4   5.0   NaN   7
2018-01-03   8   9.0  10.0  11
2018-01-04  12  13.0  14.0  15
2018-01-05  16  17.0  18.0  19
2018-01-06  20  21.0  22.0  23

In [7]:
print(df.dropna(axis=0, how='any'))

             A     B     C   D
2018-01-03   8   9.0  10.0  11
2018-01-04  12  13.0  14.0  15
2018-01-05  16  17.0  18.0  19
2018-01-06  20  21.0  22.0  23

In [8]:
print(df.dropna(axis=1, how='any'))

             A   D
2018-01-01   0   3
2018-01-02   4   7
2018-01-03   8  11
2018-01-04  12  15
2018-01-05  16  19
2018-01-06  20  23

In [9]:
print(df.dropna(axis=0, how='all'))

             A     B     C   D
2018-01-01   0   NaN   2.0   3
2018-01-02   4   5.0   NaN   7
2018-01-03   8   9.0  10.0  11
2018-01-04  12  13.0  14.0  15
2018-01-05  16  17.0  18.0  19
2018-01-06  20  21.0  22.0  23

In [11]:
print(df.fillna(value=0))

             A     B     C   D
2018-01-01   0   0.0   2.0   3
2018-01-02   4   5.0   0.0   7
2018-01-03   8   9.0  10.0  11
2018-01-04  12  13.0  14.0  15
2018-01-05  16  17.0  18.0  19
2018-01-06  20  21.0  22.0  23

In [17]:
print(np.any(df.isnull()))

True